body {
    margin: 0;
}

.fullheight {
    height: 100vh;    
}

.static {
    background-color: #565857;
    width: 70px;
    float: left;
}

.dinamic {
    margin-left: 70px;
}

.menu {
    background-color: #734B5E;
    width: 35%;
    float: left;
}

.content {
    background-color: #BCBDC0;
    width: 65%;
    float: right;
}